<nav>
    <ul>
        <li><a routerLink="/home" class="home">Home</a></li>
        <li><a routerLink="/dashboard" class="dashboard">Dashboard</a></li>
        <li><a routerLink="/users" class="users">Administration</a></li>
        <li><a routerLink="/contactus" class="contactus">Contact-Us</a></li>
        <li><a routerLink="/login" class="Login">Login</a></li>
        <li><a routerLink="/reg" class="reg">Registration/Sign Up</a></li>
    </ul>
</nav>

<app-footer></app-footer>
<router-outlet></router-outlet>
